.content{
    width: 90%;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
    border-radius: 40px;

    margin: auto;

}

.img{
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
    border-radius: 40px;
}

