<header class="text-gray-600 body-font header">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a [routerLink]="['']" class="flex title-font font-medium items-center text-red-400 hover:text-black mb-4 md:mb-0">
      <span class="ml-3 text-xl">Bar-SPA</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center font-medium text-black">
      <a [routerLink]="['menu']" class="mr-5 text-red-400 hover:text-black" style="cursor: pointer;">Menu</a>
      <a class="mr-5 text-red-400 hover:text-black" style="cursor: pointer;">Reservas</a>
      <a class="mr-5 text-red-400 hover:text-black" style="cursor: pointer;">Contacto</a>
      <a class="mr-5 text-red-400 hover:text-black" style="cursor: pointer;">Ubicacion</a>
    </nav>
    <button class="button1 inline-flex items-center bg-red-500 text-red-400 hover:text-black border-0 py-1 px-3 focus:outline-none hover:bg-white hover:text-red-500 rounded text-base mt-4 md:mt-0">
      Acceder
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>


